[2016-02-22 20:52] thinkingserious opened #1 "Make decorator that surrounds the method calls"
Should set the headers before the requests call, and set the response and call _reset at the end of the requests call

[2016-02-22 20:53] thinkingserious opened #2 "Consolidate method calls into one function"
See https://github.com/elbuo8/sendwithus_go/blob/master/swu.go#L216 for an example

[2016-02-23 23:01] #1 closed, assigned to nobody

[2016-02-24 00:34] #2 closed, assigned to nobody

[2016-02-26 21:20] iandouglas opened #3 "Can't run tests without setting up a web service"
As quick as it is to set up a simple CRUD interface in something like Flask, a user shouldn't be forced to set up entries in .env in order to run tests. Tests should have a mocked service available to run without any setup by the user.

[2016-02-26 21:23] iandouglas opened #4 "Support for Python 2.7.10 or Python 2.7.11"
The CONTRIBUTING.md documentation suggests setting up Python 2.7.8, but you should also allow 2.7.10 and 2.7.11 since those are the newest releases for Mac/Linux environments.

[2016-02-26 21:27] dtjm commented on #3
hi @iandouglas =)

[2016-02-26 21:44] mbernier commented on #3
Hey @iandouglas!!

Jut to confirm, are you asking for the client to default to a mocked interface if the .env is still set as the default (no entries)

Since this client doesn't call a specific API, what would the mocked interface return to the user?

[2016-02-27 00:03] elbuo8 commented on #3
@mbernier @iandouglas is right. The tests are very binded to SG usage and require dependencies that are not necessary to test the overall functionality of this agnostic client.

The mocked server would ensure that the data being passed is properly formatted/present (payload, URI, method, headers). In response you can set up dummy data that you later ensure that the library is properly parsing and

[2016-02-27 00:11] thinkingserious commented on #3
Love the feedback everyone, I'll be implementing these ideas. Thanks!

[2016-02-27 09:34] thinkingserious commented on #3
https://github.com/sendgrid/python-http-client/pull/5

[2016-02-27 15:31] thinkingserious commented on #3
Fixed with: [#5](https://github.com/sendgrid/python-http-client/pull/5)

[2016-02-27 15:31] #3 closed

[2016-02-29 14:27] thinkingserious commented on #4
I have updated the CONTRIBUTING documentation. Thanks!

[2016-02-29 14:27] #4 closed

[2016-06-07 13:55] keleshev opened #10 "HTTP and SMTP clients by SendGrid"
Sorry, if this is a wrong place to ask this particular question.

I noticed that SendGrid created a few HTTP and SMTP in different languages, Python, Ruby, Go, etc. So I was wondering, what is the grand idea behind this?

I know that at least in Python there are quite a few good libraries for HTTP (like requests) and SMTP. So I'm interested to know why you're writing these libraries? I'm curious b

[2016-06-08 16:02] thinkingserious commented on #10
Hello @keleshev,

Thanks for the question!

We have recently re-written all of our libraries (currently they are in beta for a few more weeks and the code is in the v3beta branches of each of our respective libraries) to support all of our v3 web api endpoints, including the new [/mail/send](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html).

During this process, we decided to no

[2016-06-08 16:02] #10 closed

[2016-10-26 08:20] mirror222 opened #12 "How to upload a file?"
I was trying to upload a file to an openstack (swift), it it failed:

url = 'http://192.168.1.100:8080/v1/AUTH_xxxxxxxxxxxxxxxxxxxx/container1/test.jpg'
files = {'file': open('test.jpg', 'rb')}
r = client.put(url, request_body=files, request_headers=headers)

any advice? thank you

[2016-10-27 18:15] thinkingserious commented on #12
Hello @mirror222,

What is the error message?

[2016-12-08 15:04] AmirTadmor opened #13 "does this support 100-continue?"

[2016-12-08 17:55] thinkingserious commented on #13
Hello @AmirTadmor,

I don't know. Could you please provide an example of what you are trying to do?

[2016-12-12 12:25] AmirTadmor commented on #13
I am trying to upload data to a server using HTTP PUT. The problem is that the server is expecting to receive the headers first, then if it is willing to receive the data, it returns 100-continue and awaits the data from the client. Python standard http.client ignores those 100-continue replies and just stuck until the server gives up and close the connection

[2016-12-12 20:26] thinkingserious commented on #13
@AmirTadmor,

Thanks for the elaboration. No, this support has not been added to this library.

I'm re-labeling this issue so that it may be considered.

[2017-01-05 19:34] davemasterdave opened #15 "Feature Request: HTTP Client Side Compression"
Hi,

I have an API server (Node.js Express-based) that supports GZIP compression. Are there any plans on adding support for compression? I will be passing around large JSON objects to my API server so compression should help alot with bandwidth savings and latency reduction.

Thanks!

[2017-01-26 16:21] mbernier commented on #15
Would you be up for having a quick chat on a google hangout? I am curious to learn more about what you're doing and where the bandwidth savings come in (questions about hosting, networking, infra, and the likes).
If you would be cool with a chat, my email is my github user at sendgrid.com

[2017-01-26 22:38] davemasterdave commented on #15
Hey things are super busy for me right now so i can't talk but basically I am using standard infrastructure (Digital Ocean Ubuntu droplet running a Node.js Express API) and I am using this project for a desktop sync agent I am writing in Python. I am looking GZip compression for text based assets as described in

https://developers.google.com/web/fundamentals/performance/optimizing-content-efficie

[2017-04-13 21:34] #12 closed

[2017-05-20 06:44] w- opened #16 "python-http-client should define it's own error class which can be imported by consuming libraries"
#### Issue Summary

If the response is not success (i.e not HTTP2xx) the library throws a urllib HTTPError.
For clients consuming this library, they now need to know that it was implemented in urllib, import that module into their application and handle the error.

Ideally, a consuming application only needs to know about python-http-client and not how urllib was implemented in order to handle com

[2017-05-22 00:27] thinkingserious commented on #16
Please see https://github.com/sendgrid/sendgrid-python/pull/316

Thanks!

[2017-05-22 02:19] w- commented on #16
@thinkingserious  don't think this shojuld be closed. please see https://github.com/sendgrid/sendgrid-python/issues/315#issuecomment-302983430

[2017-05-22 16:36] thinkingserious commented on #16
Hi @w-,

It looks like this functionality was just added in the latest commit. Do you mind taking a look?

I have not yet fully reviewed the PR, but this functionality will be included before we merge it.

Thanks!

[2017-05-22 18:11] w- commented on #16
@thinkingserious  can you help provide a direct link?
I went through the commit list but nothing obvious jumped out

thanks

[2017-05-22 18:13] thinkingserious commented on #16
https://github.com/dibyadas/sendgrid-python/blob/3dd7ef3695d68e8d7a18ab3d0973be6fe8b6ca0c/sendgrid/sendgrid.py#L69

[2017-05-22 19:00] w- commented on #16
i see. i thought you were talking about latest commit to this library.
I think both of you guys may be missing the point i'm attempting to communicate.

I believe that there needs to be a better implementation around how errors are raised from the underlying python-http-client library to the sendgrid-python library and ultimately to the consuming code.

I've left some additional comments
https://g

[2017-05-22 20:46] thinkingserious commented on #16
Hi @w-,

Thank you for the continued feedback.

Could you provide an example of where you would make changes in this repo? That would probably help clarify. Thanks in advance :)

With Best Regards,

Elmer

[2017-05-23 02:29] w- commented on #16
As i mentioned in other comments, because of the way python-http-client is implemented i'm unsure.

maybe here?
https://github.com/sendgrid/python-http-client/blob/master/python_http_client/client.py#L138

so we would define a HttpClientError similar to what i define here
https://github.com/sendgrid/sendgrid-python/pull/316#discussion_r117812483

and we would wrap that return statement like so:

[

[2017-05-23 02:32] w- commented on #16
as an aside, i'm also unsure that throwing an exception on http error is the way to go.

I think it can also be considered normal to receive a non success HTTP response and let the consumer decide how they want to handle it.
so maybe instead of throwing an error, python-http-client, just returns an HTTP response?

not sure about that either.

[2017-05-23 05:08] thinkingserious commented on #16
How about we raise something like `ConnectionError`, `Timeout`, `HTTPError` and `TooManyRedirects` similar to [`requests`](http://docs.python-requests.org/en/master/user/quickstart/#errors-and-exceptions)? (But, I think we can include `Timeout` in` ConnectionError` for simplicity)

[2017-05-23 05:13] dibyadas commented on #16
I second @w- on this. If we are having our own library, we might as well define our own exceptions. This way, anyone who uses this library is not bothered about any underlying implementations.
So then, the `sendgrid-python` should be aware of only `python-http-client` and not `urllib`.

[2017-05-23 05:14] thinkingserious commented on #16
@dibyadas,

Do you want to give it a try with a PR? Or would you like me to give it a shot?

[2017-05-23 05:17] dibyadas commented on #16
@thinkingserious I would love to work on this! I can give it a try and you can guide me and suggest  changes and improvements. :smile:
What do you say?

[2017-05-23 05:19] thinkingserious commented on #16
Awesome, thanks!

[2017-06-20 18:11] jturmel opened #18 "Would be handy if Client was pickleable"
Using the Sendgrid Python lib (and sgbackend lib) which depends on this library (within Django), sending tasks to a background queue that first pickles the Mail being sent out, due to how Django attached the connection (backend) to each Mail object, it has an instance of the Client on it. It then pickles it to store it for the task queue and fails because pickle.dumps doesn't like the Client objec

[2017-06-20 22:06] thinkingserious commented on #18
Thanks for the suggestion @jturmel,

I have added this to our backlog. It can increase priority with additional votes or a PR.

With Best Regards,

Elmer

[2017-08-11 20:12] #16 closed

[2017-09-19 16:38] PatrickHanAvaya opened #20 "How to set the timeout parameter"
#### Issue Summary

Maybe I missed something, But I have no idea how to  set timeout of a http request using this library

[2017-09-20 05:58] thinkingserious commented on #20
Hello @PatrickHanAvaya,

It looks like we need to expose that functionality [here](https://github.com/sendgrid/python-http-client/blob/master/python_http_client/client.py#L157) with [this solution](https://stackoverflow.com/a/31379309).

For this issue to gain priority in our backlog, we need additional +1's or a PR. When we receive a PR, that provides the biggest jump in priority.

Thanks!

With

[2017-10-03 15:58] jussih commented on #18
I will take a look at this

[2017-10-07 11:36] akshitsarin commented on #13
I Guess it should work for now

[2017-10-10 20:49] thinkingserious opened #25 "Add a Code Of Conduct"
Add a file to the root of this repo called CODE_OF_CONDUCT.md, with the content from the [same file in our docs repo](https://github.com/sendgrid/docs/pull/3048).

[2017-10-11 06:51] anacidre commented on #25
Hi, I can give this one a go :)

[2017-10-11 06:54] thinkingserious commented on #25
Thank you @anacidre!

[2017-10-11 06:55] thinkingserious commented on #25
My apologies @anacidre, looks like this one is taken by @SvenssonWeb.

[2017-10-11 06:55] #25 closed

[2017-10-12 01:05] thinkingserious opened #27 "Fix the Travis-CI Build"
Here is the solution: https://github.com/sendgrid/sendgrid-python/commit/f6f835e198ae33c94a4fa0f75bd210fac3cec620

[2017-10-17 16:16] thinkingserious opened #29 "Demonstrate how to review the request body for troubleshooting"
When debugging, it can be useful to examine the request body before sending to the SendGrid API.

Prove an example of how to examine the request body in TROUBLESHOOTING.md. For an example, see [here](https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#request-body).

[2017-10-17 16:51] d3vil0p3r commented on #29
@thinkingserious I'll take it 👍
Just a clarification, do we have to put an example of how to use the function to view the request body while debugging?

[2017-10-19 18:52] OmerAhmedKhan commented on #29
Done https://github.com/sendgrid/python-http-client/pull/30

[2017-10-19 18:56] #29 closed

[2017-10-20 22:06] thinkingserious opened #31 "Update .md files for SEO-ness"
We received an awesome PR for #hacktoberfest on our [ruby library](https://github.com/sendgrid/sendgrid-ruby/pull/220)
We would love to see the same thing on the README in this repo as well.
Please replace the "-" with "_"  in README, CONTRIBUTING, USE_CASES, USAGE files.

Thanks and happy Hacktoberfest!!

[2017-10-20 22:20] thinkingserious opened #32 "Add/Update Badges on README"
Similar to what was done on [the SendGrid node README](https://github.com/sendgrid/sendgrid-nodejs/pull/486):
- put the logo at the top of the list
- Add [License like so](https://github.com/sendgrid/sendgrid-php/pull/476)
- make sure the other badges are available like so:
[code]
For the following, make sure the correct repo is linked!
For email notifications, you can change the "nodejs" to the l

[2017-10-21 22:32] #32 closed

[2017-10-21 22:34] #31 closed

[2017-10-22 04:57] thinkingserious commented on #13
Hi @akshitsarin,

Did you have any success?

With Best Regards,

Elmer

[2017-10-22 22:36] mbernier opened #35 "README Badges"
#### Issue Summary

Please look at the badges we have on smtpapi-python and sendgrid-python, add the ones we're missing here, please!

[2017-10-23 07:04] aeroaks commented on #35
i am on it!

[2017-10-24 03:23] #35 closed

[2017-10-24 19:56] prabhakar267 commented on #20
@thinkingserious I would like to take this up

[2017-10-26 20:14] thinkingserious opened #43 "Create a PULL_REQUEST_TEMPLATE"
#### Issue Summary

We would like to have a template for describing what has changed in the pull request being submitted.

[Github docs on this](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/)

You can use [this file](https://github.com/sendgrid/open-source-library-data-collector/blob/master/.github/PULL_REQUEST_TEMPLATE.md) as an example

[2017-10-26 21:10] s0b0lev commented on #43
I wanna work on this issue :)

[2017-10-27 00:01] thinkingserious opened #45 "Add a .env_sample file"
Our preference is that users have an environment file when using the SendGrid API, because it is less likely that someone would commit their credentials to github.

Please make a couple changes:
- make a .env_sample file that contains: `export SENDGRID_API_KEY=''`
- make (or add) a .gitignore file and include `.env`
- add instructions to the README file about how to copy .env_sample to .env and ad

[2017-10-27 00:06] mbernier opened #46 "Build this repo in Docker so it can be developed locally"
#### Issue Summary

It is really nice to be able to develop locally inside a docker container!  Please dockerize this repo!
- You can probably use the [Dockerfile for sendgrid-python](https://github.com/sendgrid/sendgrid-python/tree/master/docker)
- Please setup docker-compose to use a local volume for the library files (this is currently different from sendgrid-python)
- Please add information to

[2017-10-27 00:38] thinkingserious opened #48 "Add a USAGE.md file"
Usage files are really nice when they exist in a repo, because it makes it really obvious where to look for information about how to use this tool. It can be frustrating when you expect this file to be there and it's not.
Please add a USAGE.md file, you can see an example of this
[here](https://github.com/sendgrid/sendgrid-python/blob/master/USAGE.md)

Please make sure you modify the file for this

[2017-10-27 05:43] #48 closed

[2017-10-28 04:34] thinkingserious opened #52 "Add a .codeclimate.yml file to this repo"
It is possible to configure how CodeClimate looks at a repository.
[These Docs](https://docs.codeclimate.com/docs/getting-started-configuration) explain how this is done. Please create an appropriate .codeclimate.yml for this repo. It should test the main language of the repo and run tests.

[2017-10-28 04:35] mbernier commented on #52
Duplicate

[2017-10-28 04:35] #52 closed

[2017-10-28 04:40] thinkingserious opened #53 "CodeClimate report shows some quick fixes that can be done."
Fix [all these things](https://codeclimate.com/github/sendgrid/python-http-client/issues) - should be real easy! #

[2017-10-28 15:25] thinkingserious opened #56 "Update the license file to have the correct date range"
This license file might have the wrong end year (2017). If this is the case, please make a PR that updates the year. If the year is correct, please close this issue!

[2017-10-28 15:30] thinkingserious opened #57 "Add a unittest to check the license.md file date range"
The end year in the license file should be "this year" and this should be checked on every run of the tests. If the end year is no correct, fail the test.
example:

It is 2017, so this should be:

and the  test should fail.
--done

[2017-10-28 15:38] thinkingserious opened #58 "Add unittest to check for specific repo files"
This repo should have the following list of files included:
- ./Docker or docker/Docker
- ./docker-compose.yml or ./docker/docker-compose.yml
- ./.env_sample
- ./.gitignore
- ./.travis.yml
- ./.codeclimate.yml
- ./CHANGELOG.md
- ./CODE_OF_CONDUCT.md
- ./CONTRIBUTING.md
- ./.github/ISSUE_TEMPLATE
- ./LICENSE.md
- ./.github/PULL_REQUEST_TEMPLATE
- ./README.md
- ./TROUBLESHOOTING.md
- ./USAGE.md
- ./

[2017-10-28 15:54] cheukyin699 commented on #58
I can do that. I'll open a new file for that.

[2017-10-28 16:04] dinosaurfiles commented on #57
Hi! I'll take this!

[2017-10-29 04:14] #46 closed

[2017-10-30 05:13] mbernier opened #63 "Add a PEP8 check to travis.yml"
#### Issue Summary

According to codeClimate, this repo is not conforming with PEP8 standards. Please add a PEP8 check to Travis that will cause the build to fail if the proper rules are not being met.

#### Steps to Reproduce

1. Install the check
2. Make obvious PEP8 standards violation in one of the files
3. Make a PR
4. Let the build run
5. See a failure in the build
6. Fix the issue and make

[2017-10-30 05:14] mbernier opened #64 "Make this repo conform to PEP8 standards"
#### Issue Summary

It looks like we're breaking all the rules - https://codeclimate.com/github/sendgrid/python-http-client/issues

Please update the code to fit PEP8 standards.

[2017-10-30 06:41] jlindenger commented on #64
I spent a few minutes knocking out your PEP8 issues. There were a few more in there that I didn't see showing up on CodeClimate as well.

[2017-10-30 07:38] NdagiStanley commented on #63
- [x] Install the check

- [x] Make obvious PEP8 standards violation in one of the files

- [x] Make a PR

- [x] Let the build run

- [x] See a failure in the build

- [ ] Fix the issue and make a comment (so we know)

@mbernier The last step is being fixed by #64 , right?

[2017-10-30 07:42] NdagiStanley commented on #63
Secondly, from the travis build we see:
![image](https://user-images.githubusercontent.com/15629602/32159481-c755c068-bd5e-11e7-8940-a8239417c108.png)

I'll update it from `pep8` to `pycodestyle`. Cool?

[2017-10-30 09:29] Madhur96 commented on #64
I want to work on this

[2017-10-30 10:15] Kanav-7 commented on #56
@thinkingserious Fixed this issue. Please review

[2017-10-30 17:10] mbernier opened #70 "Add CodeCov support to .travis.yml"
#### Issue Summary

Add these entries to the .travis.yml file so codecov reports show up!
https://github.com/codecov/example-python/blob/master/.travis.yml

[2017-10-31 15:42] nemaniarjun commented on #27
If this is done, than why not close this? :)

[2017-10-31 16:03] mbernier opened #75 "Hacktoberfest: SendGrid Current Status"
## SendGrid DX team current status:
- Wow
- OMG
- THANK YOU

Hacktoberfest 2017 has completely blown us away. We have had over 900 pull requests from over 300 contributors all in the last 30 days. That is more PRs than we normally get in 2 years!
We are actively working to review, comment, and/or merge as many PRs as we possibly can as quickly as we can.

We are currently working on “intaking” all

[2017-10-31 19:12] thinkingserious opened #76 "Add Code Review to Contributing.md"
- Add a "Code Reviews" section on CONTRIBUTING.md
- Put the following under the header:

- Link the header in the Contributing.md Table of Contents
- Add a link to the README.md file: [Review Pull Requests]("CONTRIBUTING.md#Code-Reviews") under "Contributing Section"

[2017-10-31 20:15] thinkingserious opened #78 "Create a Use Cases Directory"
Due to the success we have seen from hacktoberfest, we are seeing more people create use cases. This is amazing!
We want to make sure that everyone can find them. Please help us to break up this file and make it easier to read and manage:
- Create a Use Cases Directory
- Put a README.md in this directory
- Make a file in the new directory for each individual Use Case from USE_CASES.md, copy the co

[2017-10-31 20:52] stevenmirabito commented on #78
@thinkingserious I don't see a `USE_CASES.md` in this repo - do you mean `USAGE.md`?

[2017-11-01 03:17] #57 closed

[2017-11-02 01:06] thepriefy commented on #78
@stevenmirabito I understand that @thinkingserious means `USE_CASES.md` but many repos doesn't have this file. Maybe you can create `USE_CASES.md` by yourself or wait for others to create it. :)

[2017-11-09 02:40] thinkingserious commented on #78
Hi @stevenmirabito,

@thepriefy is correct, we want to add a [USE_CASES.md](https://github.com/sendgrid/sendgrid-python/blob/master/USE_CASES.md) file, similar to what we have in other repos.

With Best Regards,

Elmer

[2017-11-11 16:20] #58 closed

[2017-11-17 16:25] #53 closed

[2017-11-17 21:04] #45 closed

[2017-11-30 23:28] wynnw commented on #20
Hey - a +1 for this and it's associated PR. We've run into situations where this missing functionality caused us problems when trying to use the sendgrid-python library. The timeout option really needs to be available as the there's no good workaround. Right now I'm monkey patching the _make_request method which is never the happiest solution.

[2017-12-01 17:56] thinkingserious commented on #20
Thanks for the vote @wynnw, it helps move that PR up our queue!

If you have a moment, a code review would be most appreciated and can also help this item move up the queue: https://github.com/sendgrid/python-http-client/pull/42

[2017-12-04 18:56] pkkim opened #79 "Can't support the same query parameter twice in one URL"
#### Issue Summary

As far as I can tell, this library doesn't let you make requests to URLs which use the same query parameter key more than once, such as `http://example.com?bar=foo&bar=baz`. This is a problem because many HTTP APIs use this pattern, including SendGrid's own v3 endpoint `/subusers/reputations`. It might be good if you could pass either a dict or a list of two-tuples.

#### Steps

[2017-12-05 11:40] thinkingserious commented on #79
Thanks for reporting this @pkkim!

I have added this to our backlog.

For this issue to gain priority in our backlog, we need additional +1's or a PR. When we receive a PR, that provides the biggest jump in priority.

[2017-12-06 05:59] pkkim commented on #79
Sorry, I was mistaken about this. In fact, passing `query_params={'a': [1, 2]}` actually does produce a URL with query parameters `?a=1&a=2`. Whoops.

[2017-12-06 05:59] #79 closed

[2017-12-11 23:16] #63 closed

[2017-12-14 01:00] thinkingserious commented on #79
No worries @pkkim. Thanks for following up!

[2017-12-21 20:57] #64 closed

[2017-12-21 20:58] mbernier opened #80 "Two Pep8 issues reported in TravisCI"
#### Issue Summary

Please see the report here: https://travis-ci.org/sendgrid/python-http-client/jobs/315068414
There are two issues that are causing builds to fail on our new PEP8 check.

[2017-12-21 21:04] #70 closed

[2018-01-14 05:50] ibnbay00 opened #85 "Add Category is Failed on Mail Class (mail.py)"
#### Issue Summary
Failed Add Category on Mail Class (mail.py)

#### Steps to Reproduce
[code]
I think the problem is on code:
[code]
Sould be:
[code]

Note:
I want to make PR on that file but not find the file on this project...
Thanks

#### Technical details:
* python-http-client Version (from pip): 3.0.0
* Python Version: 3.6.3

[2018-01-14 05:51] ibnbay00 commented on #85
I need it ASAP... please.... 👍

[2018-01-14 05:57] ibnbay00 commented on #85
Wrong Project... sorry.. lol

[2018-01-14 05:57] #85 closed

[2018-02-06 17:01] mdtusz opened #86 "Error converting Response.to_dict"
#### Issue Summary

`Response.to_dict` fails to create dict.

#### Steps to Reproduce

1. Make request (in my case, using the sendgrid lib `response = sg.client.mail.send.post(request_body=mail.get())`
2. Call `response.to_dict`

The email successfully is sending and the response is the 202 variant - the error seems to be in deccoding the `Response.body`.

#### Stack Trace

Some of the stack has b

[2018-02-06 23:37] thinkingserious commented on #86
Hello @mdtusz,

I've added this to our backlog for a fix. Thanks for reporting it!

The body for a successful email send is empty, so I'm guessing that's the root of the issue.

With Best Regards,

Elmer

[2018-02-27 22:57] #75 closed

[2018-02-27 22:57] #56 closed

[2018-02-27 22:58] #43 closed

[2018-02-27 22:58] #27 closed

[2018-02-27 22:59] #18 closed

[2018-02-27 22:59] #15 closed

[2018-02-27 22:59] #13 closed

[2018-05-22 21:06] #76 closed

[2018-05-22 21:11] #80 closed

[2018-05-22 21:25] thinkingserious commented on #20
This will be included in release v3.1.0 by tomorrow.

[The `Client` object now accepts a `timeout` parameter](https://github.com/sendgrid/python-http-client/blob/master/python_http_client/client.py#L62).

Thanks!

[2018-05-22 21:25] #20 closed

[2018-05-22 21:30] thinkingserious commented on #86
The fix will be pushed out in the v3.2.0 release by tomorrow.

[See here](https://github.com/sendgrid/python-http-client/blob/master/python_http_client/client.py#L56) for the specific fix.

Thanks!

[2018-05-22 21:30] #86 closed

[2018-10-03 13:20] thinkingserious opened #92 "Implement auto-deploy to package manager"
#### Issue Summary

When all tests on the master branch pass in Travis CI, we would like to auto-deploy the release to the package manager.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Aceptance Criteria

* when Travis CI passes all tests on the master branch we auto-deploy to the package

[2018-10-03 14:21] georgeyk commented on #92
Hi @thinkingserious ,

The deploy to the package manager means to upload to pypi ?
Travis support pypi + https://docs.travis-ci.com/user/deployment#conditional-releases-with-on

Do you think its enough ?

[2018-10-04 13:17] thinkingserious opened #94 "Require conformance to style standards"
#### Issue Summary

In the `CONTRIBUTING.md` file there is a section on Style Guidelines & Naming Conventions. Please review and implement a check in Travis CI. If there are any style errors, either fix or create a rule to exclude the error.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Ace

[2018-10-05 00:58] nathan78906 opened #95 "Create use cases directory"
#### Issue Summary
Other SendGrid repos have a use cases directory, this one should too.

`USE_CASES.md` should be deleted as well.

[2018-10-05 14:17] thinkingserious opened #97 "Run our *.md documents in this repo through the Grammer.ly service and update"
#### Issue Summary

We would like to get our English polished up throughout the repo.

#### Aceptance Criteria

* Every .md file in this repo has been run through the Grammer.ly service and updated accordingly

[2018-10-05 16:39] ssiddhantsharma commented on #97
@thinkingserious Got it! Automating my scripts to get this done.

[2018-10-05 16:57] arghyaiitb commented on #97
@thinkingserious I have raised a PR kindly go through it.

[2018-10-08 20:47] thinkingserious opened #101 "Create first time contributor documentation"
#### Issue Summary

Our open sourced documentation has a great [first time contributor page](https://github.com/sendgrid/docs/blob/develop/first-timers.md) that we wish to duplicate here.

#### Acceptance Criteria

* We have a file in the root directory called first-timers.md or similar that helps a first time contributor make their first PR (please use our CONTRIBUTOR.md file for inspiration as w

[2018-10-09 18:48] cmccandless commented on #94
This issue is unclear. [`.travis.yml` already runs `pycodestyle`](https://github.com/sendgrid/python-http-client/blob/master/.travis.yml#L31-L32) (formerly known as `pep8`).

If the requirement is simply that the style is enforced by Travis CI, the above line needs to be moved from the `after_script` section to the `script` section.

[2018-10-10 00:59] thinkingserious opened #103 "Auto-generate the CHANGELOG.md file upon release"
#### Issue Summary

For every release, we currently hand craft a CHANGELOG.md update, now we would like to automate this process. Please see the existing CHANGELOG.md for formatting structure.

#### Acceptance Criteria

* A script, which when run, creates a CHANGELOG.md update based on any merged PRs since the last release.

[2018-10-10 19:59] puzan commented on #103
Hello! I already have few solutions for changelog generation. One of them is custom python app based on gitpython, jinja2 and redmine. It creates whole change log for release branch based on version tags (regex for semver) and commit message (it should contain hashtag with issue number).

I can prepare version which will be useful for you and publish it on github in scope of hactoberfest activity.

[2018-10-10 21:15] thinkingserious commented on #97
Thank you @arghyaiitb,

It looks like @ssiddhantsharma may have grabbed it first, but you made the PR first.

@ssiddhantsharma, are you OK giving this one over to @arghyaiitb?

Thanks!

[2018-10-10 22:18] mauricetmeyer commented on #103
@puzan from what I can tell, also seen here https://github.com/sendgrid/python-http-client/issues/92 is that it seems like that they are working on getting a CD environment up and running.

[2018-10-11 03:14] ely-alamillo commented on #101
@thinkingserious mind reviewing for feedback.

[2018-10-11 13:37] nathanmkaya commented on #103
Hey, I'm thinking of just creating a bash script that generates the list of PR's between the current and previous release(tag) and appends the result to the top of CHANGELOG.md then pushes the changes back to Github if the changes were successfully made to the CHANGELOG.md file. It will be a bash script with the different functions to do the two actions. Pushing changes back to Github will require

[2018-10-11 21:10] #95 closed

[2018-10-13 03:54] thinkingserious opened #106 "Document new Git workflow in CHANGELOG.md"
#### Issue Summary

We want to update our git workflow to function more like [Gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow). We need to update the CONTRIBUTING.md file and PULL_REQUEST_TEMPLATE to direct contributors to fork/branch off the `development` branch and to merge their PRs with the `development` branch. Once this issue is complete, we will be crea

[2018-10-13 18:46] ssiddhantsharma commented on #97
@arghyaiitb Take it bud!

[2018-10-19 06:58] thinkingserious opened #108 "Auto-generate the release notes upon release"
#### Issue Summary

For every release, we hand craft the release notes on GitHub, now we would like to automate this process. Please see the existing [release notes](https://github.com/sendgrid/python-http-client/releases) for an example. The contents of the release notes are generated from the CHANGELOG.md file. [Here](https://developer.github.com/v3/repos/releases/#create-a-release) is the docum

[2018-10-20 12:04] hugovk commented on #106
Tip: once `development` branch is created, it would help to change the default branch from `master` to `development`.

An admin can do so here: https://help.github.com/articles/setting-the-default-branch/

![image](https://user-images.githubusercontent.com/1324225/47255397-2879c380-d479-11e8-84eb-6e16e39c4da3.png)

[2018-10-22 23:07] #101 closed

[2018-10-22 23:08] #106 closed

[2018-10-25 18:10] shivanshs9 commented on #108
I would like to work on it. Should I also look for a post-commit hook which looks for changes in version.txt?

[2018-10-30 18:33] thinkingserious opened #114 "Add our Developer Experience Engineer career opportunity to the README"
#### Issue Summary

The role of Developer Experience Engineer just became available and we want to announce it in the README. Here is the copy:

If you're a software engineer who is passionate about #DeveloperExperience and/or #OpenSource, [this is an incredible opportunity to join our #DX team](https://sendgrid.com/careers/role/1421152/?gh_jid=1421152) as a Developer Experience Engineer and work

[2018-10-30 19:09] Fantaztig commented on #114
Done in https://github.com/sendgrid/python-http-client/pull/117 :)

[2018-11-14 20:34] #97 closed

[2019-02-07 13:57] frenzymadness opened #121 "Test of date range in license file"
I would like to discuss whether is a good idea to have a test which is testing date range (`Copyright (c) 2012 - 2019 SendGrid, Inc.`). I understand the need described in the original issue (https://github.com/sendgrid/python-http-client/issues/57) but I don't think that it's a good idea to have a unit test for that.

HTTP client is packaged in various Linux distributions. Now imagine that you hav

[2019-02-11 18:57] thinkingserious commented on #121
Hello @frenzymadness,

How about if we made that unit test throw a warning instead?

With Best Regards,

Elmer

[2019-02-12 07:11] frenzymadness commented on #121
That's a good idea. We can write the test this way:

[code]

which will produce this output in tox and doesn't mark tests as failed.

[code]

Does it look good to you?

[2019-02-13 18:17] thinkingserious commented on #121
Nice! Thanks @frenzymadness!

Would you like to submit a PR?

[2019-09-12 08:30] illfang opened #125 "Possible 3.2.0 Python 3 Release Problems"
#### Issue Summary

About when version 3.2.0 got released our build using 3.1.0 broke.
We are using pipenv to install the packages and pipenv started to complain that the sha256 hash of 3.1.0 has changed:
[code]

Furthermore, it is not possible to install 3.2.0 using pipenv
[code]

A look at the pypi repository ( https://pypi.org/simple/python-http-client/ ) show the following:
[code]
Looking at t

[2019-09-13 20:31] thinkingserious commented on #125
Thanks for the follow up @illfang!

[2019-09-13 20:31] #125 closed

[2019-09-21 03:48] namgivu commented on #125
I ask pipenv to re-generate the Pipfile.lock and fix the error from my side.
[code]
then install the packages again
[code]

[2019-09-23 06:53] Haider8 opened #126 "Getting ModuleNotFoundError for urllib2 for starter code given in sendgrid documentation"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

* I am getting the `ModuleNotFoundError` for `urllib2` for the starter code,

#### Steps to Reproduce

1. https://app.sendgrid.com/guide/integrate/langs/python#settings/api_keys
2. Run

[2019-09-30 20:31] georgeyk commented on #92
hey @thinkingserious
Shouldn't this be closed?

[2019-10-15 11:53] lawaloy commented on #114
Hi @thinkingserious Can i take on this issue?

[2019-11-20 09:05] bwind opened #131 "setup.py includes tests directory in package data"
#### Issue Summary

setup.py includes all packages (containing an __init__.py) using find_packages(). This is a problem because it will include the `tests` directory as a top level importable module in the local app, breaking our own tests that happen to live in a directory with the same name.

#### Steps to Reproduce

1. `pip install python-http-client`
2. `ls /usr/local/lib/python3.7/site-packag

[2019-11-24 13:13] Seluj78 opened #133 "HTTP 400 on second mail send"
Hi, I'm getting a 400 from this library when using sendgrid to send emails, but only after i've successfully sent a first email.

[code]

In this log you can see the first request going fine, then the second ending up with a 500 because of the 400 raised by this library. Any idea why ?

[2019-11-29 11:00] Seluj78 commented on #133
As I stated on my sendgrid support, it seems like flask_sendgrid, on the second request, sends twice the `to` parametter

[2020-01-30 08:49] syphar opened #139 "pickle / celery breaks with exceptions"
### Issue Summary
We are using this library in a celery background task, using celery. (through the `sendgrid` library, and actually `django-celery-email`).

When errors happen with the sendgrid API (like a BAD REQUEST), celery can handle this exception and normally pickle it to return it to the caller.

Currently we are seeing a `PicklingError` where the exception type from this library can be pi

[2020-02-26 16:44] childish-sambino commented on #133
Closing as the issue is with flask_sendgrid since it's doubling the `to` parameter: https://github.com/frankV/flask-sendgrid/issues/19

Including the same `to` address results in a 400 ([source](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.personalizations)).

[2020-02-26 16:44] #133 closed

[2020-03-10 15:46] childish-sambino commented on #139
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2020-03-19 21:27] childish-sambino commented on #114
Closing as the position is no longer open.

[2020-03-19 21:27] #114 closed

[2020-03-19 21:27] childish-sambino commented on #103
Closing as we're now using internal tool to do this.

[2020-03-19 21:27] #103 closed

[2020-03-19 21:28] childish-sambino commented on #92
Closing as we're now using internal tool to do this.

[2020-03-19 21:28] #92 closed

[2020-03-20 03:29] thinkingserious commented on #126
Hello @Haider8,

The example code at the link you provided requires [this library](https://github.com/sendgrid/sendgrid-python). Could you please try that helper library?

I tried to reproduce this issue and I was not able to.

With best regards,

Elmer

[2020-04-05 16:16] wmai commented on #139
+1

[2020-04-21 18:46] #126 closed

[2020-05-26 20:53] oldani commented on #139
+1

[2020-06-10 00:02] caelean commented on #139
+1

[2020-06-16 15:25] childish-sambino commented on #139
We don't track +1s on comments.

[2020-07-28 02:02] LaikaN57 opened #141 "Feature Request: Implement Request Logging Options"
### Issue Summary
We should implement request logging. SendGrid support will frequent want this information when helping customers debug their application. This information should include what API they are calling, what response code, and what error message we get back.

#### Possible Solutions
1. Natively create a `logging.Logger` object.
2. Switch to using `urllib3` instead of `urllib` as it has

[2020-07-28 17:21] childish-sambino commented on #141
What about just migrating to `requests` which uses `urllib3` underneath?

[2020-07-28 17:30] LaikaN57 commented on #141
@childish-sambino Yeah really anything that just allows us to set `logging.getLogger(<3rd-party-module>).setLevel(logging.DEBUG)` or similar will do for my particular use-case (and I suspect the majority of use-cases). I do not have a preference on which 3rd party we go with. I will leave that to maintainers to provide direction on the prefered dependency.

[2020-07-28 17:32] childish-sambino commented on #141
`requests` is preferred given that we also use this in the [twilio-python](https://github.com/twilio/twilio-python) library.

This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2020-07-28 23:52] LaikaN57 commented on #141
@childish-sambino I am no longer convinced this was a good idea. It adds dependencies on multiple 3rd party libraries and it does not actually solve my header logging issues (see https://github.com/sendgrid/python-http-client/pull/142#issuecomment-665343151 for details).

Also feel free to work off of https://github.com/sendgrid/python-http-client/pull/142 if you still want to pursue swithing over

[2020-07-28 23:52] #141 closed

[2020-08-20 13:54] ThomSawyer opened #144 "UnboundLocalError: local variable 'exc' referenced before assignment"
### Issue Summary
In the new release 3.3.0, the variable `exc` is referenced before assignement [in the client.py file](https://github.com/sendgrid/python-http-client/blob/main/python_http_client/client.py#L180). It worked fine on version 3.2.7. It looks like [L182](https://github.com/sendgrid/python-http-client/blob/main/python_http_client/client.py#L182) needs to be before [L178](https://github.

[2020-08-20 14:19] chrislondon commented on #144
I'm getting this too

[2020-08-20 19:48] victorct-pronto commented on #144
We are getting this too.

[2020-08-20 20:10] childish-sambino commented on #144
Working on a fix ...

[2020-08-20 21:29] #144 closed

[2020-08-24 08:10] haritn commented on #144
still getting this issue.

[2020-08-24 09:47] mark-ix commented on #144
Still broken

[2020-08-24 11:32] amanbedi23 commented on #144
the latest pypi package still has the same issue. will this fix be updated on pypi?

[2020-08-24 14:54] childish-sambino commented on #144
Released.

[2020-09-11 17:23] chrisdlangton opened #146 "proxy support required for use in private subnets without internet egress (PCI, IRAP, ISM, SOC2, ISO27018)"
I think this message would be best suited in other repo's issues that depend on this lib - because this lib can be removed as redundant from my observation.

I cannot use send grid to send email from a webserver that is in a private subnet.
the webserver is behind a load balancer for ingress and reguires a proxy (allowed hosts list) for egress.

This is a service that must be compliant, so best pr

[2020-09-14 15:31] childish-sambino commented on #146
This repo uses `urllib` but it does not expose its interfaces for adding request handlers: https://github.com/sendgrid/python-http-client/blob/5404e1523384d0aab51e841ae56759aab03d3a9e/python_http_client/client.py#L259-L264

I think adding a `proxies` arg to `def http_request` which would just be passed to a new [ProxyHandler](https://docs.python.org/3/library/urllib.request.html#urllib.request.Pro

[2021-02-10 00:25] #139 closed

[2021-04-22 11:11] shtalinberg opened #149 "UnboundLocalError - local variable 'exc' referenced before assignment"
Hi guys

### Issue Summary
https://github.com/sendgrid/python-http-client/blob/main/python_http_client/client.py#L180
in this line I got UnboundLocalError exception in our project
local variable 'exc' referenced before assignment

[2021-04-22 11:21] #149 closed

[2021-04-22 11:21] shtalinberg commented on #149
looks like a duplicate https://github.com/sendgrid/python-http-client/issues/144

[2022-01-12 09:24] fabaff opened #153 "Test failure with Python 3.10"
### Issue Summary

With Python 3.10 I see a test failure.

[code]

### Steps to Reproduce

Run tests

### Code Snippet
n/a

### Exception/Log
n/a

### Technical details:
* python-http-client version: 3.3.4
* python version: 3.10.1

[2022-01-12 09:31] fabaff commented on #153
Related #152

[2022-01-12 21:07] JenniferMah commented on #153
Hi @fabaff! Can you try updating to the latest version of the python-http-client (3.3.5)?

[2022-01-12 23:46] fabaff commented on #153
@JenniferMah, thanks a lot. Tests are all passing (https://github.com/NixOS/nixpkgs/pull/154821).

[2022-01-12 23:46] #153 closed